.container{
    color: white;
    background-color: darkgray;
    padding-top: 15px;
    padding-bottom: 15px;
}
.card{
    border-radius: 10px !important;
    background-image: linear-gradient(to right,white);
    margin-bottom: 10px !important;
}
.card .img-box{
    display: flex;
    justify-content: center;
    height: 8em;
    margin: 30px auto 0 auto !important;
    object-fit: scale-down;
}
.img-box img{
    border-radius: 10px !important;
    width: 200px;
    align-self: center;
}